.scroll-pane {
	-fx-background-color: #999999;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .increment-button {
    -fx-background-color: #afafaf;
}

.scroll-pane .decrement-button {
    -fx-background-color: #afafaf;
}

.scroll-pane .scroll-bar:horizontal .track ,.scroll-pane .scroll-bar:vertical .track{
     -fx-background-color: #afafaf;
     -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:horizontal .thumb, .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #999999;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-pane .increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

#topbar {
	-fx-background-color: #afafaf;
}

#repositoryPane {
	-fx-background-color: #ffffff;
}

#repositoryPane:hover {
	-fx-background-color: #ffffff;
}

#button_addUser {
    -fx-background-color: #999999;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #ffffff;
    -fx-font: bold 14pt "Arial Narrow";
}

#button_addUser:hover {
    -fx-background-color: #dedede;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;

    -fx-text-fill: #999999;
}

#button_addUser:pressed {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;

    -fx-text-fill: #999999;
}

#user_pane {
	-fx-background-color: #ffffff;
}

#user_pane:hover {
	-fx-background-color: #dedede;
}


#remove_userpane_button {
	 -fx-background-color: transparent;

    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: #333333;
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,0,0,0;	
    -fx-text-fill: #333333;
    -fx-font: bold 10pt "Arial Narrow";
}

#remove_userpane_button:hover {
    -fx-text-fill: #F71E2C;
}

#remove_userpane_button:pressed {
    -fx-text-fill: #8F0B14;
}

#addResponse {
	-fx-text-fill: #ffffff;
	-fx-font: bold 11pt "Arial Narrow";
}

#top_box {
	-fx-background-color: #888888;
}

#title_button {
	-fx-background-color: #888888;

    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: #efefef;
    -fx-font: bold italic 13pt "Arial Narrow";
}

#tf_addUser {
	-fx-background-color: #ffffff;
	-fx-background-radius: 0,0,0,0;
}