.scroll-pane {
	-fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .increment-button {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .decrement-button {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .scroll-bar:horizontal .track ,.scroll-pane .scroll-bar:vertical .track{
     -fx-background-color: #f0f0f0;
     -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:horizontal .thumb, .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #d5d5d5;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

#topbar {
	-fx-background-color: #ffffff;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #9c339a;
	-fx-border-style: solid;
}

#repositoryPane {
	-fx-background-color: #ffffff;
}

#repositoryPane:hover {
	-fx-background-color: #ffffff;
}

#button_addUser {
    -fx-background-color: #9c339a;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #ffffff;
    -fx-font: 14pt "Arial";
}

#button_addUser:hover {
    -fx-background-color: #e880e7;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;

    -fx-text-fill: #ffffff;
}

#button_addUser:pressed {
    -fx-background-color: #ffb3fe;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;

    -fx-text-fill: #ffffff;
}

#user_pane {
	-fx-border-width: 0 0 4 0;
	-fx-border-style: solid;
	-fx-border-color: #9c339a;
	-fx-background-color: #ffffff;
}

#user_pane:hover {
	-fx-border-width: 0 0 4 0;
	-fx-border-style: solid;
	-fx-border-color: #e880e7;
	-fx-background-color: #ffffff;
}


#remove_userpane_button {
	 -fx-background-color: transparent;

    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: #333333;
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,0,0,0;	
    -fx-text-fill: #9c339a;
    -fx-font: bold 10pt "Arial Narrow";
}

#remove_userpane_button:hover {
    -fx-text-fill: #e880e7;
}

#remove_userpane_button:pressed {
    -fx-text-fill: #ffb3fe;
}

#addResponse {
	-fx-text-fill: #9c339a;
	-fx-font: bold 11pt "Arial Narrow";
}

#top_box {
	-fx-background-color: #888888;
}

#title_button {
	-fx-background-color: #888888;

    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: #efefef;
    -fx-font: bold italic 13pt "Arial Narrow";
}

#tf_addUser {
	-fx-border-width: 1 0 1 1;
	-fx-border-color: #9c339a;
	-fx-border-style: solid;
	-fx-background-color: #ffffff;
	-fx-background-radius: 0,0,0,0;
	-fx-text-fill: #9c339a;
	-fx-prompt-text-fill: #E6B1E5;
}