.scroll-pane {
	-fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .increment-button {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .decrement-button {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .scroll-bar:vertical .track{
     -fx-background-color: #f0f0f0;
     -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #d5d5d5;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #c5c5c5;
}

.scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #b5b5b5;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.tooltip {
	-fx-background-radius: 0 0 0 0;
	-fx-background-color: white;
	-fx-border-width: 1 1 1 1;
	-fx-border-style: solid;
	-fx-border-color: #9c339a; 
}

.page-corner {
    -fx-shape: " ";
}

.context-menu {
  	-fx-background-color: white;
  	-fx-text-fill: #9c339a;
	-fx-border-width: 1 1 1 1;
	-fx-border-style: solid;
	-fx-border-color: #9c339a; 
}

.menu-item .label {
	-fx-text-fill: #9c339a;
}

.menu-item:focused {
	-fx-background-color: #9c339a;
}

.menu-item:focused .label {
 	-fx-text-fill: white;
}

.userPane {
	-fx-border-width: 0 0 4 0;
	-fx-border-style: solid;
	-fx-border-color: #9c339a;
	-fx-background-color: #ffffff;
}

.userPaneButton {
	 -fx-background-color: transparent;

    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: #333333;
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,0,0,0;	
    -fx-text-fill: #9c339a;
    -fx-font: bold 10pt "Arial Narrow";
}

.userPaneButton:hover {
    -fx-text-fill: #e880e7;
    -fx-cursor: hand;
}

.userPaneButton:pressed {
    -fx-text-fill: #ffb3fe;
}


.scroll-pane .corner {
    -fx-background-insets: 0;
}

#clickable_image:hover {
	-fx-cursor: hand;
}

#topbar {
	-fx-background-color: #ffffff;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #9c339a;
	-fx-border-style: solid;
}

#repositoryPane {
	-fx-background-color: #ffffff;
}

#repositoryPane:hover {
	-fx-background-color: #ffffff;
}

#button_addUser {
    -fx-background-color: #9c339a;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: #ffffff;
    -fx-font: 14pt "Arial";
    -fx-cursor: hand;
}

#button_addUser:hover {
    -fx-background-color: #e880e7;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;

    -fx-text-fill: #ffffff;
}

#button_addUser:pressed {
    -fx-background-color: #ffb3fe;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;

    -fx-text-fill: #ffffff;
}

#l_name {
	-fx-text-fill: #9c339a;
    -fx-font: bold 14pt "Arial Narrow";
}

#l_data {
	-fx-text-fill: #ada0ad;
    -fx-font: italic 11pt "Arial Narrow";
}

#addResponse {
	-fx-text-fill: #9c339a;
	-fx-font: bold 11pt "Arial Narrow";
}

#top_box {
	-fx-background-color: #888888;
}

#title_button {
	-fx-background-color: #888888;

    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: #efefef;
    -fx-font: bold italic 13pt "Arial Narrow";
}

#tf_addUser {
	-fx-border-width: 1 0 1 1;
	-fx-border-color: #9c339a;
	-fx-border-style: solid;
	-fx-background-color: #ffffff;
	-fx-background-radius: 0,0,0,0;
	-fx-text-fill: #9c339a;
	-fx-prompt-text-fill: #E6B1E5;
	-fx-highlight-fill: #9c339a;
}